.modal__label {
  font-weight: 700;
  color: #0008;
  cursor: pointer;
}

.modal__label:hover {
  color: #000;
}

.modal__label:has(.modal__radio-input:checked) {
  color: #000;
}

.modal__title {
  margin: 0 0 24px;
}

.modal__input {
  margin-top: 8px;
  height: 24px;
  width: 100%;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid #000;
}

.modal__radio-btns {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 0 8px;
  padding: 0;
  gap: 8px;
}

.modal__radio-input {
  display: none;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal__submit-btn {
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: fit-content;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #000;
  transition: opacity 0.3s;
}

.modal__submit-btn:hover {
  opacity: 0.6;
}

.modal__submit-btn:disabled {
  cursor: default;
  opacity: 0.3;
}

.modal__submit-btn:disabled:hover {
  opacity: 0.3;
}
