.card {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #0000004d;
  max-width: 350px;
  aspect-ratio: 1;
}

.card__name {
  position: absolute;
  padding: 2px 12px;
  top: 15px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.card__image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
