.content {
  min-height: calc(100vh - var(--height-header) - var(--height-footer));
}

.card__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 309px));
  gap: 20px;
}
